:local .mainBoard {
  /* background-color: white; */
  width: 120vmin;
  border-color: darkgray;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

:local .gridBoard {
  margin: 5vmin;
  display: grid;
  grid-template-columns: repeat(11, 10vmin);
  grid-template-rows: repeat(8, 6vmin);
}

/* :local .gridBoard > div {
  border-style: solid;
  border-width: 1px;
} */