:local .position {
  vertical-align: middle;
}
:local .position > div {
  background-image: url('https://s3.us-east-2.amazonaws.com/mattminwoolee-mvp/images/cross.png');
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  line-height: 6vmin;
}

:local .positionInner {
  background-image: url('https://s3.us-east-2.amazonaws.com/mattminwoolee-mvp/images/circleTransparent.png');
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center center;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2vmin;
  line-height: 6vmin;
  position: relative;
  animation: mymove 5s;
  /* transform: translate(50px,0), 2s; */
}

@keyframes mymove {
  from {top: 200px;}
  to {top: 0px;}
}